@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../style/pages.scss';
@import '../style/colors.scss';

$border-radius: 20px;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


body {
  font-family: "Raleway";
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  
}