@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../style/pages.scss';
@import '../style/colors.scss';

$border-radius: 20px;
$radius: 20px;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.block-blur {
  padding: 5px;
  backdrop-filter: blur(3px);
  background: rgb(255 255 255 / 16%);
  &-radius {
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}


body {
  font-family: "Raleway";
  background-image: url(../images/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  
}